.idea/
module_1/input/.DS_Store
module_1/.DS_Store
module_0/.ipynb_checkpoints/main-checkpoint.py
module_1/.ipynb_checkpoints/[SF-DST] Movies IMBD v3.0-checkpoint.ipynb
module_1/.ipynb_checkpoints/chapter_7-checkpoint.ipynb
module_1/.ipynb_checkpoints/chapter_8-checkpoint.ipynb
module_1/.ipynb_checkpoints/data_sf-checkpoint.csv
module_1/.ipynb_checkpoints/Python B1-B3 (12.04.2020)-checkpoint.ipynb
module_1/.ipynb_checkpoints/Python B5-B6 (26.04.2020)-checkpoint.ipynb
module_1/.ipynb_checkpoints/tests-checkpoint.ipynb
module_1/.ipynb_checkpoints/[SF-DST] Movies IMBD v3.0-checkpoint.ipynb
module_1/.ipynb_checkpoints/[SF-DST] Movies IMBD v3.0-checkpoint.ipynb
module_1/.ipynb_checkpoints/[SF-DST] Movies IMBD v3.0-checkpoint.ipynb
.DS_Store
learn/tips.csv
.DS_Store
